<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Contatos - Clean</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <h1 class="logo">NexContact</h1>
    </header>

    <main class="container">
        <div class="div-criar-alterar">
            <h2 class="h2-criar-alterar">Cadastrar/Alterar contatos</h2>
            <form action="" method="post">
                <label class="label-criar-alterar">Nome</label>
                <input type="text" name="" id="" required>
                <div class="div-email-telefone">
                    <div class="div-email">
                        <label class="label-criar-alterar">Email</label>
                        <input type="email" name="" id="" required>
                    </div>
                    <div class="div-telefone">
                        <label class="label-criar-alterar">Telefone</label>
                        <input type="text" name="" id="" required>
                    </div>
                </div>
                <div class="div-status">
                    <input type="checkbox" name="" id="checkbox-status">
                    <label id="label-status">Contato ativo</label>
                </div>
                
                <div class="div-btn">
                    <button type="submit" class="btn-enviar">Enviar</button>
                    <button type="reset" class="btn-limpar">Limpar</button>
                </div>
            </form>
        </div>
        <div class="height-container">
            <div class="table-container">
                <table>
                <thead>
                    <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Ações</th>
                </thead>
                    <% contatos.forEach(contato => {%>
                    <tr>
                        <td><%= contato.nome%></td>
                        <td><%= contato.email%></td>
                        <td><%= contato.telefone%></td>
                        <td><%= contato.status%></td>
                        <td>
                            <button class="btn-exluir">Excluir</button>
                            <button class="btn-alterar">Alterar</button>
                        </td>
                    </tr>
                    <%})%>
                </table>
            </div>
        </div>
    </main>
</body>
</html>