<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
        <header>
            <h1>NexContact</h1>
        </header>
        <main>
            <div class="block-login">
                <div class="header-login">
                    <h1 class="title-header-login">Login Seguro</h1>
                    <h2 class="subtitle-header-login">Acesse a sua conta</h2>
                </div>
                <form action="/login" method="post">
                    <label>Email</label>
                    <input type="text" name="txtEmail" placeholder="Digite o endereço de e-mail" required>
                    <label>Senha</label>
                    <input type="password" name="txtSenha" placeholder="Digite a senha" required>
                    <button type="submit">Entrar</button>
                </form>
                <div class="footer-login">
                    <p class="p-footer-login">Não tem uma conta?</p>
                    <a href="/cadastro" class="a-footer-login">Crie agora</a>
                </div>
            </div>
        </main>
</body>
</html>